body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
/* Styling Main Section */
h3{
	font-size: 30px;
	color: #1affb2;
	text-transform: uppercase;
	text-decoration: underline;
	padding-bottom: 50px;
}
#main_section{
	margin: 100px 0px;
}
.checkbox-group{
	padding: 20px;
	border: 2px solid #00b377;
	border-radius: 5px;
	margin-bottom: 30px;
}
#submit{
	margin-top: 30px;
}
#results{
	display: block;
	margin: 0 auto;
	max-width: 400px;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #1affb2;
	opacity: 0.9;
}
/* Animating Checkboxes */
label{
	cursor: pointer;
	color: #666;
	font-size: 16px;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}
input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	font-family: "FontAwesome";
	color: #1affb2;
	animation: click 150ms ease-in;
}

/* Animation */
@keyframes click{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}

/* Media Queries */
@media screen
and (min-width: 320px)
and (max-width: 480px){
	h3{
		font-size: 26px;
		padding-bottom: 10px;
	}
	#main_section{
		margin: 20px 0px;
	}
}

@media screen
and (min-width: 481px)
and (max-width: 767px){
	h3{
		font-size: 26px;
		padding-bottom: 10px;
	}
	#main_section{
		margin: 20px 0px;
	}
}